@font-face {
    font-family: AvenirLTStd-Medium;
    src: url("https://cdn.protograph.pykih.com/lib/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: Avenir-Bold;
    src: url("https://cdn.protograph.pykih.com/lib/AEH.ttf") format("opentype");
}

.pro-col-4 {
    width: 300px;
}

.pro-col-7 {
    width: 540px;
}

.pro-col-16 {
    width: 1260px;
    margin-right: 0px !important;
}

.pro-container {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.pro-clear-fix {
    display: inline-block;
    width: 100%;
    height: 0px;
    margin-bottom: 24px;
}

.branding-area,
.links-area {
    margin-bottom: 24px;
}

.pro-publisher-footer {
    width: 100%;
    border-top: 1px solid #efefef;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    font-family: "AvenirLTStd-Medium";
    font-size: 12px;
}

.pro-publisher-footer .pro-col-5 {
    width: 380px;
    display: inline-block;
    float: left;
    padding-right: 80px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 24px;
}

.pro-publisher-footer .pro-col-11 {
    width: 860px;
    display: inline-block;
    float: left;
    margin-bottom: 24px;
}

.pro-publisher-footer .pro-col-16 {
    width: 1260px;
    display: inline-block;
    float: left;
}

.pro-publisher-footer .pro-col-5 .project-publisher-branding .publisher-logo {
    display: inline-block;
    height: 24px;
    border-right: 1px solid #efefef;
    padding-right: 16px;
    margin-right: 16px;
}

.pro-publisher-footer .pro-col-5 .project-publisher-branding .project-logo {
    display: inline-block;
    height: 24px;
}

.pro-publisher-footer .pro-col-16 .project-publisher-branding,
.pro-publisher-footer .pro-col-16 .project-publisher-description {
    text-align: center;
}

.pro-publisher-footer .pro-col-16 .project-publisher-description {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.pro-publisher-footer .pro-col-16 .project-publisher-branding .publisher-logo {
    display: inline-block;
    height: 24px;
    border-right: 1px solid #efefef;
    padding-right: 16px;
    margin-right: 16px;
}

.pro-publisher-footer .pro-col-16 .project-publisher-branding .project-logo {
    display: inline-block;
    height: 24px;
}

.pro-publisher-footer p {
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    margin-bottom: 0px;
}

.pro-publisher-footer .pro-col-11 .pro-links-group,
.pro-publisher-footer .pro-col-16 .pro-links-group {
    width: 130px;
    display: inline-block;
    float: left;
    margin-right: 16px;
}

.pro-publisher-footer .pro-col-11 .pro-links-group .links-group-title,
.pro-publisher-footer .pro-col-16 .pro-links-group .links-group-title {
    font-family: "Avenir-Bold";
    line-height: 28px;
    vertical-align: bottom;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro-publisher-footer .pro-col-11 .pro-links-group ul,
.pro-publisher-footer .pro-col-16 .pro-links-group ul {
    margin-top: 16px;
    list-style: none;
    padding-left: 0px;
}

.pro-publisher-footer .pro-col-11 .pro-links-group ul li,
.pro-publisher-footer .pro-col-16 .pro-links-group ul li {
    line-height: 22px;
}

.pro-publisher-footer .pro-col-11 .pro-links-group ul li a,
.pro-publisher-footer .pro-col-16 .pro-links-group ul li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    cursor: pointer;
}

.pro-publisher-footer .pro-col-11 .pro-links-group ul li a:hover,
.pro-publisher-footer .pro-col-16 .pro-links-group ul li a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.pro-col-16 .pro-publisher-footer .pro-links-bar {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
}

.pro-col-16 .pro-publisher-footer .pro-links-bar a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
}

.pro-col-16 .pro-publisher-footer .pro-links-bar a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.pro-blink {
    display: inline-block;
}

.pro-col-16 .pro-publisher-footer .pro-small-text {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    margin-top: 8px;
}

.pro-col-4 .container,
.pro-col-4 .pro-publisher-footer .pro-col-5,
.pro-col-4 .pro-publisher-footer .pro-col-11,
.pro-col-4 .pro-publisher-footer .pro-col-16 {
    width: 100%;
}

.pro-col-4 .pro-publisher-footer .pro-col-5 .project-publisher-branding .publisher-logo,
.pro-col-4 .pro-publisher-footer .pro-col-5 .project-publisher-branding .project-logo {
    height: 20px;
}

.pro-col-4 .pro-publisher-footer .branding-area {
    width: 100%;
    padding: 0px 10px;
    text-align: center;
}

.pro-col-4 .pro-publisher-footer .links-area {
    width: 100%;
    text-align: center;
    float: none;
}

.pro-col-4 .pro-publisher-footer .pro-col-11 .pro-links-group {
    float: none;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}

.pro-col-4 .pro-publisher-footer .pro-col-11 .pro-links-group ul {
    margin-top: 8px;
}

.pro-col-4 .pro-container {
    width: 300px;
}

.pro-links-group-container {
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
}

@media screen and (max-width: 500px) {
    .pro-container,
    .pro-publisher-footer .pro-col-5,
    .pro-publisher-footer .pro-col-11,
    .pro-publisher-footer .pro-col-16 {
        width: 100vw;
        overflow: hidden;
    }

    .pro-publisher-footer .pro-col-5 .project-publisher-branding .publisher-logo,
    .pro-publisher-footer .pro-col-5 .project-publisher-branding .project-logo {
        height: 20px;
    }

    .pro-publisher-footer .branding-area {
        width: 100%;
        padding: 0px 10px;
        text-align: center;
    }

    .pro-publisher-footer .links-area {
        width: 100%;
        text-align: center;
        float: none;
    }

    .pro-publisher-footer .pro-col-11 .pro-links-group {
        float: none;
        vertical-align: top;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pro-publisher-footer .pro-col-11 .pro-links-group ul {
        margin-top: 8px;
    }
    .pro-col-16 .container,
    .pro-col-16 .pro-publisher-footer .pro-col-5,
    .pro-col-16 .pro-publisher-footer .pro-col-11,
    .pro-col-16 .pro-publisher-footer .pro-col-16 {
        width: 100%;
    }

    .pro-col-16 .pro-publisher-footer .pro-col-5 .project-publisher-branding .publisher-logo,
    .pro-col-16 .pro-publisher-footer .pro-col-5 .project-publisher-branding .project-logo {
        height: 20px;
    }

    .pro-col-16 .pro-publisher-footer .branding-area {
        width: 100%;
        padding: 0px 10px;
        text-align: center;
    }

    .pro-col-16 .pro-publisher-footer .links-area {
        width: 100%;
        text-align: center;
        float: none;
    }

    .pro-col-16 .pro-publisher-footer .pro-col-11 .pro-links-group {
        float: none;
        vertical-align: top;
        margin-left: 5px;
        margin-right: 5px;
    }

    .pro-col-16 .pro-publisher-footer .pro-col-11 .pro-links-group ul {
        margin-top: 8px;
    }
    .pro-col-16 .pro-container {
        width: 300px;
    }
    .pro-links-group-container {
        display: inline-block;
        vertical-align: top;
        word-wrap: break-word;
    }
}